<div class="comment">
  <i><%=h comment.user.name %> says:</i><br />
  <%= simple_format h(comment.comment) %>
  <%= link_to 'Delete Comment', comment_path,
    :confirm => 'Are you sure?',
    :method => :delete if current_user %>
</div>
