<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>

<%= @recipe.title %>
