<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>
<p>RECIPE</p>

<div><%= @recipe.title %></div>
<div><%= @recipe.body %></div>
