<div class="container">
  <div class="spacer">
    <div class="black-opaque-background">
      <span class="white-text"><h3>Welcome To RecipeIt!</h3>
      <p>Craving that Chicken & Rice Plate from that restaurant a few thousand miles away? You may not be able to go out and purchase it whenever you want, but RecipeIt can help you replicate that dish with an extensive database of user-contributed recipes of popular restaurant menu items. What recipe will you uncover today?</p></span>
        <br>
    </div>
      <br>
      <br>
      <br>
      <center>
        <div class="black-opaque-background-2">
          <span class="white-text"><h4>Browse:</h4></span>
          <span class="white-link"><%= link_to "Restaurants List", restaurants_path %></span>
            <br>
          <span class="white-link"><%= link_to "Recipes List", recipes_path %></span>
            <br>
            <br>
            <br>
        </div>
      </center>
  </div>
</div>
