show.html.erb


<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>

<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>
<p>SHOW EACH RESTAURANT & NUMBER OF RECIPES ETC ON THIS PAGE!!!</p>

<%= @restaurant.name %>
<br>
<%= link_to "Add a New Recipe", new_recipe_path %>

  <% @recipes.each do |recipe| %>
  <div> <%= link_to recipe.title, recipe_path(recipe) %> </div>
  <div> <%= recipe.body %> </div>
  <% end %>
