@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Georgia;
  font-size: 12pt;
}

header {
  background-color: rgba(0,0,0,0.8);
  padding: 15px;
  width: 100%;
  position: fixed;
}

#main-header {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  color: #990000;
}

a, .red-font {
  color: #990000;
}

a:hover {
  text-decoration: none;
  color: #660000;
}

.user-header {
  display: inline;
}

#user-header {
  text-align: right;
}

#search-bar {
  float: left;
  display: inline;
}

#alert {
  color: red;
}

.container {
}

.spacer {
  margin-top: 150px;
  text-align: center;
}

table, th, tr {
  text-align: left;
}

.background-style {
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
}

.centers {
  text-align: center;
}
.white-link > a {
  color: white;
}

.white-link > a:hover {
  color: #FFCC99;
}

.black-opaque-background {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid black;
  padding-top: 15px;
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 30px;
}
.white-text {
  color: white;
}

.black-opaque-background-2 {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid black;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  width: 300px;
  border-radius: 30px;
}

.padding {
  padding-right: 60px;
  padding-left: 60px
}

#recipe-form {
  height: 275px;
}

.comment {
  max-width: 600px;
}

#comment-form {
  width: 600px;
  height: 175px;
}

#restaurant-table {
  max-width: 700px;
}

#restaurant-location {
  max-width: 300px;
}

.profile-pic {
  width: 275px;
  height: 275px;
  border: 1px solid black;
}
